<div class= "main">
	<div id="video"><iframe width="800" height="500" src="//www.youtube.com/embed/x-JdQLZmVd0" frameborder="0" allowfullscreen></iframe></div>
	<div class="main_body">
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/beijing_1.jpg"></img></div>
			<p id="title">BEIJING</p>
			<p> Capital to the People's Republic of China. The population as of </p>
			<p> 2013 was 21,150,500 and known as the most populous city in the world.</p>
			<p> The usual weather of Beijing are dry, monsoon-influenced humid.</p>	
			<p> Average temperature on january would be -3.7 degree celsius while </p>	
			<p>26.2 degree celsius in July. Tourist can visits to places like Forbidden </p>
			<p>City, Beihai Park, Wangfujing and etc...Common transport that could</p> 
			<p>be easily found in Beijing are like the high-speed rail,</p>	
			<p> Buses as well as taxis.</p>

			<div class="info_button">
				<ul>
					<li id="photos">PHOTOS</li>
					<li id="foods">FOODS</li>
				</ul>
				
						<ul id="list_photos">
						<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_2.jpg"><img height="200" width="180" src="/assets/beijing_2.jpg"></img></a></li>
						<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_3.jpg"><img height="200" width="180" src="/assets/beijing_3.jpg"></img></a></li>
						<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_4.jpg"><img height="200" width="180" src="/assets/beijing_4.jpg"></img></a></li>
						</ul>
						
						<ul id="list_foods">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_food_1.jpg"><img height="200" width="350" src="/assets/beijing_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_food_2.jpg"><img height="200" width="350" src="/assets/beijing_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/beijing_food_3.jpg"><img height="200" width="350" src="/assets/beijing_food_3.jpg"></img></a></li>
						</ul>
						
			</div>
		</div>
		
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/shanghai_1.jpg"></img></div>
			<p id="title">SHANGHAI</p>
			<p> Shanghai is the largest Chinese city by population and the largest<br> city proper by
			 population in the world. 	It is one of the four <br>direct-controlled municipalities,
			and a transport hub with the world's <br>busiest container port. Located in the
			 Yangtze River Delta in East China, <br>Shanghai sits at the mouth of the Yangtze 
			in the middle portion of the <br>Chinese coast.</p>

			<div class="info_button">
				<ul>
					<li id="photos_1">PHOTOS</li>
					<li id="foods_1">FOODS</li>
				</ul>
				
						<ul id="list_photos_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_2.jpg"><img height="200" width="180" src="/assets/shanghai_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_3.jpg"><img height="200" width="180" src="/assets/shanghai_3.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_4.jpg"><img height="200" width="180" src="/assets/shanghai_4.jpg"></img></a></li>
						</ul>
						
						<ul id="list_foods_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_food_1.jpg"><img height="200" width="350" src="/assets/shanghai_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_food_2.jpg"><img height="200" width="350" src="/assets/shanghai_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/shanghai_food_3.jpg"><img height="200" width="350" src="/assets/shanghai_food_3.jpg"></img></a></li>														
						</ul>
						
			</div>
		</div>
	</div>
</div>

<div id="booking"><a href="http://www.airasia.com"><p><strong>BOOK NOW !!!</strong></p><a></div>
<div id="pop_up"><p>LET'S HAVE A FLIGHT<p></div>
			
