<div class= "main">
	<div class="main_body">
		<div id="description">
			<div id="sample_photo"></div>
			<p id="title">Beijing</p>
			<p> Capital to the <strong><em>People's Republic of China.</em></strong>. The population as of </p>
			<p> 2013 was 21,150,500 and known as the most populous city in the world.</p>
			<p> The usual weather of Beijing are dry, monsoon-influenced humid.</p>	
			<p> Average temperature on january would be -3.7 degree celsius while 26.2 degree celsius in July.</p>	
			<p> Tourist can visits to places like Forbidden City, Beihai Park, Wangfujing and etc...</p>	
			<p> Common transport that could be easily found in Beijing are like the high-speed rail,</p>	
			<p> Buses as well as taxis.</p>

			<div class="info_button">
				<ul>
					<li id="photos">PHOTOS</li>
					<li id="foods">FOODS</li>
				</ul>
				
						<ul id="list_photos">
														<li id="place_photo"><img height="200" width="180" src="/assets/beijing_2.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/beijing_3.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/beijing_4.jpg"></img></li>
						</ul>
						
			</div>
		</div>
	</div>
</div>
			
