<div class= "main">
	<div id="ad_video">Promo Video</div>
	<div id="video"><iframe width="800" height="500" src="//www.youtube.com/embed/lTEv2fK7CUk" frameborder="0" allowfullscreen></iframe></div>
	<div class="main_body">
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/tokyo_4.jpg"></img></div>
			<p id="title">TOKYO</p>
			<p> Tokyo is the capital of Japan and also known as the most populous <br>metropolitian  
			 city in the world. On the other hand, it is also well known as <br>the third most 
			 expensive city for expatriates. The weather are humid <br>subtropical cllimate.  
			 The warmest month in Japan are in August with <br>temperature of 27.5 degree celsius  
			 while coolest average temperature are <br>6.0 degree celsius in the month of January. 
			 There are several national parks as well as museums such as Chichibu Tama Kai and  
			 National Museum of Nature and Science could be found in Tokyo area. <br>The common  
			 transportation used in Tokyo would be	trains and subways which linked all around </p> 
			 the place and it is a convenient service for tourist. </p>

			<div class="info_button">
				<ul>
					<li id="photos">PHOTOS</li>
					<li id="foods">FOODS</li>
				</ul>
				
				
						<ul id="list_photos">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_2.jpg"><img height="200" width="180" src="/assets/tokyo_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_3.jpg"><img height="200" width="180" src="/assets/tokyo_3.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_4.jpg"><img height="200" width="180" src="/assets/tokyo_4.jpg"></img></a></li>
						</ul>
						
						<ul id="list_foods">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_food_1.jpg"><img height="200" width="350" src="/assets/tokyo_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_food_2.jpg"><img height="200" width="350" src="/assets/tokyo_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/tokyo_food_3.jpg"><img height="200" width="350" src="/assets/tokyo_food_3.jpg"></img></a></li>
						</ul>
			</div>
		</div>
		
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/hokkaido_1.jpg"></img></div>
			<p id="title">HOKKAIDO</p>
			<p>Hokkaido is Japan's second largest and nothern most island. The capital city ,br>of Hokkaido 
			 is Sapporo which is an ordinance designated city.	Usual weather could be <br>found in 
			 Hokkaido are cool summer and icy winter. Most of the island falls <br>in humidcontinental 
			 climate zone.	Average August temperature ranged <br>from 17 to 22 degree celsius while 
			 -12 to -4 degree celsius in January.The <br>major cities in Hokkaido are the capital Sapporo, 
			 Kushiro, Obihiro and etc. In Hokkaido, the only ,br>land link are the Seikan Tunnel 
			 which linked  with Honshu. Tourist could enjoy the different <br>locations in Hokkaido 
			 by travelling via the railways.</p>

			<div class="info_button">
				
				<ul>
					<li id="photos_1">PHOTOS</li>
					<li id="foods_1">FOODS</li>
				</ul>
					
						<ul id="list_photos_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_2.jpg"><img height="200" width="180" src="/assets/hokkaido_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_3.jpg"><img height="200" width="180" src="/assets/hokkaido_3.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_4.jpg"><img height="200" width="180" src="/assets/hokkaido_4.jpg"></img></a></li>
						</ul>
						
						
						<ul id="list_foods_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_food_1.jpg"><img height="200" width="350" src="/assets/hokkaido_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_food_2.jpg"><img height="200" width="350" src="/assets/hokkaido_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/hokkaido_food_3.jpg"><img height="200" width="350" src="/assets/hokkaido_food_3.jpg"></img></a></li>
						</ul>
			</div>
		</div>
	</div>
</div>


<div id="booking"><a href="http://www.airasia.com"><p><strong>BOOK NOW !!!</strong></p><a></div>
<div id="pop_up"><p>LET'S HAVE A FLIGHT<p></div>
