<div class= "main">
	<div class="main_body">
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/tokyo_4.jpg"></img></div>
			<p id="title">TOKYO</p>
			<p> Tokyo is the capital of Japan and also known as the most populous metropolitian  </p>
			<p> city in the world. On the other hand, it is also well known as the third most </p>
			<p> expensive city for expatriates. The weather are humid subtropical cllimate.  </p>
			<p> The warmest month in Japan are in August with temperature of 27.5 degree celsius  </p>
			<p> while coolest average temperature are 6.0 degree celsius in the month of January. </p>
			<p> There are several national parks as well as museums such as Chichibu Tama Kai and  </p>
			<p> National Museum of Nature and Science could be found in Tokyo area. The common  </p>
			<p> transportation used in Tokyo would be	trains and subways which linked all around </p> 
			<p> the place and it is a convenient service for tourist. </p>

			<div class="info_button">
				<ul>
					<li id="photos">PHOTOS</li>
					<li id="foods">FOODS</li>
				</ul>
				
				
						<ul id="list_photos">
														<li id="place_photo"><img height="200" width="180" src="/assets/tokyo_2.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/tokyo_3.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/tokyo_1.jpg"></img></li>
						</ul>
						
						<ul id="list_foods">
														<li id="food_photo"><img height="200" width="350" src="/assets/tokyo_food_1.jpg"></img></li>
														<li id="food_photo"><img height="200" width="350" src="/assets/tokyo_food_2.jpg"></img></li>
														<li id="food_photo"><img height="200" width="350" src="/assets/tokyo_food_3.jpg"></img></li>
						</ul>
			</div>
		</div>
		
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/hokkaido_1.jpg"></img></div>
			<p id="title">HOKKAIDO</p>
			<p>Hokkaido is Japan's seconod largest and nothernmost island. The capital city of Hokkaido </p>
			<p> is Sapporo which is an ordinance designated city.	Usual weather could be found in </p>
			<p> Hokkaido are cool summer and icy winter. Most of the island falls in humidcontinental </p>
			<p> climate zone.	Average August temperature ranged from 17 to 22 degree celsius while </p>
			<p> -12 to -4 degree celsius in January.The major cities in Hokkaido are the capital Sapporo, </p>
			<p> Kushiro, Obihiro and etc. In Hokkaido, the only land link are the Seikan Tunnel </p>
			<p> which linked  with Honshu. Tourist could enjoy the different locations in Hokkaido </p>
			<p> by travelling via the railways.</p>

			<div class="info_button">
				
				<ul>
					<li id="photos_1">PHOTOS</li>
					<li id="foods_1">FOODS</li>
				</ul>
					
						<ul id="list_photos_1">
														<li id="place_photo"><img height="200" width="180" src="/assets/hokkaido_2.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/hokkaido_3.jpg"></img></li>
														<li id="place_photo"><img height="200" width="180" src="/assets/hokkaido_4.jpg"></img></li>
						</ul>
						
						
						<ul id="list_foods_1">
														<li id="food_photo"><img height="200" width="350" src="/assets/hokkaido_food_1.jpg"></img></li>
														<li id="food_photo"><img height="200" width="350" src="/assets/hokkaido_food_2.jpg"></img></li>
														<li id="food_photo"><img height="200" width="350" src="/assets/hokkaido_food_3.jpg"></img></li>
						</ul>
			</div>
		</div>
	</div>
</div>
			
