<div class= "main">
	<div id="ad_video">Promo Video,Click to view.</div>
	<div id="video"><iframe width="800" height="500" src="//www.youtube.com/embed/lQQ1L3GMqMo" frameborder="0" allowfullscreen></iframe></div>
	<div class="main_body">
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/seoul_1.jpg"></img></div>
			<p id="title">SEOUL</p>
			<p>Seoul is the capital and largest metropolis of South Korea. The <br>Seoul Capital Area,
			 which includes the surrounding Incheon metropolis,<br> and Gyeonggi province, is the 
			world's second largest metropolitan <br>area with over 25.6 million people,
			 home to over half <br>of South Koreans along with 632,000 international residents.</p>

			<div class="info_button">
				<ul>
					<li id="photos">PHOTOS</li>
					<li id="foods">FOODS</li>
				</ul>
				
						<ul id="list_photos">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_2.jpg"><img height="200" width="180" src="/assets/seoul_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_3.jpg"><img height="200" width="180" src="/assets/seoul_3.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_4.jpg"><img height="200" width="180" src="/assets/seoul_4.jpg"></img></a></li>
						</ul>
						
						<ul id="list_foods">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_food_1.jpg"><img height="200" width="350" src="/assets/seoul_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_food_2.jpg"><img height="200" width="350" src="/assets/seoul_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/seoul_food_3.jpg"><img height="200" width="350" src="/assets/seoul_food_3.jpg"></img></a></li>
						</ul>
						
			</div>
		</div>
		
		<div id="description">
			<div id="sample_photo"><img height="180" width="180" src="/assets/busan_1.jpg"></img></div>
			<p id="title">BUSAN</p>
			<p> Busan is South Korea's second largest metropolis after Seoul, with a <br>population  
			 of approximately 3.6 million. The population of the <br>metropolitan area,  
			 including the adjacent cities of Gimhae and Yangsan, <br>is approximately 4.6 million. 
			 It is the largest port city in South Korea and the <br>world's fifth busiest seaport by 
			 cargo tonnage. The city is located on <br>the southeastern-most tip of the Korean peninsula. 
			 The most densely built up areas of the city are situated in a number of narrow  
			 valleys between the Nakdong River and Suyeong River, with <br>mountains separating some
			 of the districts. </p>

			<div class="info_button">
				<ul>
					<li id="photos_1">PHOTOS</li>
					<li id="foods_1">FOODS</li>
				</ul>
				
						<ul id="list_photos_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_2.jpg"><img height="200" width="180" src="/assets/busan_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_3.jpg"><img height="200" width="180" src="/assets/busan_3.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_4.jpg"><img height="200" width="180" src="/assets/busan_4.jpg"></img></a></li>
						</ul>
						
						<ul id="list_foods_1">
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_food_1.jpg"><img height="200" width="350" src="/assets/busan_food_1.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_food_2.jpg"><img height="200" width="350" src="/assets/busan_food_2.jpg"></img></a></li>
							<li id="place_photo"><a class="fancybox" rel="group" href="/assets/busan_food_3.jpg"><img height="200" width="350" src="/assets/busan_food_3.jpg"></img></a></li>
						</ul>
						
			</div>
		</div>
	</div>
</div>
			
<div id="booking"><a href="http://www.airasia.com"><p><strong>BOOK NOW !!!</strong></p><a></div>
<div id="pop_up"><p>LET'S HAVE A FLIGHT<p></div>