<div class= "main">
	<div class="main_body">
		<div id="description">
			<img id="sample_photo" src="http://t0.gstatic.com/images?q=tbn:ANd9GcTMLqRg8JaQqovwSAtkPt73yUSfcxvXnYtBZTgt-xFoRqaijwsRPw"></img>
			<p>I am korea</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>	
			<p> I am the description to the place.</p>	
			<p> I am the description to the place.</p>	
			<p> I am the description to the place.</p>	a
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>
			<p> I am the description to the place.</p>

			<div class="info_button">
				<ul id="main_list">
					<li id="photos">PHOTOS</li>
					<li>FOODS</li>
				</ul>
			</div>
		</div>
	</div>
</div>
			
